mpc/MPC_Config/generated/mpc-config.xsd

<?xml version="1.0"?>
<!--
############################# MPC License ##############################
# Wed Nov 19 15:19:19 CET 2008                                         #
# Copyright or (C) or Copr. Commissariat a l'Energie Atomique          #
#                                                                      #
# IDDN.FR.001.230040.000.S.P.2007.000.10000                            #
# This file is part of the MPC Runtime.                                #
#                                                                      #
# This software is governed by the CeCILL-C license under French law   #
# and abiding by the rules of distribution of free software.  You can  #
# use, modify and/ or redistribute the software under the terms of     #
# the CeCILL-C license as circulated by CEA, CNRS and INRIA at the     #
# following URL http://www.cecill.info.                                #
#                                                                      #
# The fact that you are presently reading this means that you have     #
# had knowledge of the CeCILL-C license and that you accept its        #
# terms.                                                               #
#                                                                      #
# Authors:                                                             #
#   - VALAT Sebastien sebastien.valat@cea.fr                           #
#   - AUTOMATIC GENERATION                                             #
#                                                                      #
########################################################################
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_allocator">
    <xs:all>
      <xs:element minOccurs="0" name="numa_migration" type="xs:boolean"/>
      <xs:element minOccurs="0" name="realloc_factor" type="xs:integer"/>
      <xs:element minOccurs="0" name="realloc_threashold" type="xs:string"/>
      <xs:element minOccurs="0" name="numa" type="xs:boolean"/>
      <xs:element minOccurs="0" name="scope" type="xs:string"/>
      <xs:element minOccurs="0" name="huge_bloc_limte" type="xs:string"/>
      <xs:element minOccurs="0" name="strict" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_launcher">
    <xs:all>
      <xs:element minOccurs="0" name="smt" type="xs:boolean"/>
      <xs:element minOccurs="0" name="cores" type="xs:integer"/>
      <xs:element minOccurs="0" name="verbosity" type="xs:integer"/>
      <xs:element minOccurs="0" name="banner" type="xs:boolean"/>
      <xs:element minOccurs="0" name="autokill" type="xs:integer"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_net_driver_fake">
    <xs:all>
      <xs:element minOccurs="0" name="buffer" type="xs:integer"/>
      <xs:element minOccurs="0" name="stealing" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_net_driver">
    <xs:choice>
      <xs:element name="infiniband" type="user_type_net_driver_fake"/>
      <xs:element name="tcp" type="user_type_net_driver_fake"/>
    </xs:choice>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_net_driver_config">
    <xs:all>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="driver" type="user_type_net_driver"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_net_rail">
    <xs:all>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="device" type="xs:string"/>
      <xs:element minOccurs="0" name="topology" type="xs:string"/>
      <xs:element minOccurs="0" name="config" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_networks">
    <xs:all>
      <xs:element minOccurs="0" name="configs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="config" type="user_type_net_driver_config"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="rails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="rail" type="user_type_net_rail"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="user_type_profiler">
    <xs:all>
      <xs:element minOccurs="0" name="file_prefix" type="xs:string"/>
      <xs:element minOccurs="0" name="append_date" type="xs:boolean"/>
      <xs:element minOccurs="0" name="color_stdout" type="xs:boolean"/>
      <xs:element minOccurs="0" name="level_colors">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="level" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="modules">
    <xs:all>
      <xs:element minOccurs="0" name="allocator" type="user_type_allocator"/>
      <xs:element minOccurs="0" name="launcher" type="user_type_launcher"/>
      <xs:element minOccurs="0" name="profiler" type="user_type_profiler"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mapping_selector_env">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mapping_selectors">
    <xs:sequence>
      <xs:element name="env" type="static_part_mapping_selector_env" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mapping_profiles">
    <xs:sequence>
      <xs:element name="profile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mapping">
    <xs:all>
      <xs:element name="selectors" type="static_part_mapping_selectors" minOccurs="0"/>
      <xs:element name="profiles" type="static_part_mapping_profiles" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mappings">
    <xs:sequence>
      <xs:element name="mapping" type="static_part_mapping" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_profile">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="modules" type="modules" minOccurs="0"/>
      <xs:element name="networks" type="user_type_networks" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_profiles">
    <xs:sequence>
      <xs:element name="profile" type="static_part_profile" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:complexType name="static_part_mpc">
    <xs:sequence>
      <xs:element name="profiles" type="static_part_profiles" minOccurs="0"/>
      <xs:element name="mappings" type="static_part_mappings" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************************************************* -->
  <xs:element name="mpc" type="static_part_mpc"/>
</xs:schema>
